<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
<resultMap type="com.kh.cc.admin.model.vo.Refund" id="refundResultSet">
      <id property="refundCode" column="REFUND_CODE"/>            
      <result property="requestDate" column="REQUEST_DATE"/>   
      <result property="completeDate" column="COMPLETE_DATE"/>
      <result property="price" column="PRICE"/>
      <result property="status" column="STATUS"/>
      <result property="refundReason" column="REFUND_REASON"/>
      <result property="userId" column="USER_ID"/>
   </resultMap>
   <resultMap type="com.kh.cc.admin.model.vo.Report" id="reportResultSet">
      <id property="reportId" column="REPORT_ID"/>            
      <result property="reportType" column="REPORT_TYPE"/>   
      <result property="reportDate" column="REPORT_DATE"/>
      <result property="reportReason" column="REPORT_REASON"/>
      <result property="reportCategory" column="REPORT_CATEGORY"/>
      <result property="status" column="STATUS"/>
      <result property="userId" column="USER_ID"/>
      <result property="wid" column="WID"/>
      <result property="rid" column="RID"/>
      <result property="commentId" column="COMMENT_ID"/>
      <result property="bid" column="BID"/>
   </resultMap>
   <resultMap type="com.kh.cc.member.model.vo.Member" id="memberResultSet">
      <id property="mno" column="MNO"/>            
      <result property="userId" column="USER_ID"/>   
      <result property="userPwd" column="USER_PWD"/>
      <result property="userName" column="USER_NAME"/>
      <result property="nickName" column="NICKNAME"/>
      <result property="memberType" column="MEMBER_TYPE"/>
      <result property="intro" column="INTRO"/>
      <result property="wallet" column="WALLET"/>
      <result property="birthday" column="BIRTHDAY"/>
      <result property="email" column="EMAIL"/>
      <result property="phone" column="PHONE"/>
      <result property="wCount" column="WCOUNT"/>
      <result property="status" column="STATUS"/>
      <result property="joinDate" column="JOIN_DATE"/>
   </resultMap>
     <resultMap type="com.kh.cc.webnovel.model.vo.Webnovel" id="workResultSet">
		<id property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
		<result property="wuploadDate" column="WUPLOAD_DATE"/>
		<result property="wTitle" column="WTITLE"/>
		<result property="wIntro" column="WINTRO"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="wCycle" column="WCYCLE"/>
		<result property="gradeType" column="GRADE_TYPE"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="workDate" column="WORK_DATE"/>
		<result property="ageGrade" column="AGE_GRADE"/>
		<result property="genre" column="GENRE"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="fid" column="FID"/>
	</resultMap>
	    <resultMap type="com.kh.cc.admin.model.vo.Board" id="BoardResultSet">
		<id property="bId" column="B_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="boardCategory" column="BOARD_CATEGORY"/>
		<result property="bCount" column="B_COUNT"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="status" column="STATUS"/>
		<result property="subCategory" column="SUB_CATEGORY"/>
	</resultMap>
	<resultMap type="com.kh.cc.admin.model.vo.Reply" id="replyResultSet">
		<id property="replyId" column="REPLY_ID"/>
		<result property="replyDate" column="REPLY_DATE"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="rId" column="RID"/>
		<result property="bId" column="B_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="workType" column="WORK_TYPE"/>
	</resultMap>

	<!-- 환불 목록 전체 개수 조회 -->
   <select id="selectRefundListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REFUND   		
   </select>
   <!-- 전체 환불 목록 조회 -->
   <select id="selectRefundList" resultMap="refundResultSet">
		SELECT *
		FROM REFUND   
		ORDER BY REFUND_CODE DESC
   </select>
   <!-- 환불내역 상세조회 -->
   <select id="selectOneRefund" parameterType="_int" resultMap="refundResultSet">
   		SELECT *
   		FROM REFUND
   		WHERE REFUND_CODE = #{refundCode}
   		
   </select>
   <!-- 환불 처리 -->
   <update id="refundComplete" parameterType="_int">
   		UPDATE REFUND
   		SET STATUS = 'Y'
   		WHERE REFUND_CODE = #{refundCode}
   </update>
   <!-- 환불 내역 조건검색(처리 대기 / 처리 완료) -->
   <select id="refundStatus" parameterType="String" resultMap="refundResultSet">
   		SELECT *
   		FROM REFUND
   		WHERE STATUS = #{str}
   </select>
   <!-- 환불 내역 조건 검색 개수 조회 -->
   <select id="selectRefundAjaxCount" parameterType="String" resultType="_int">
   		SELECT COUNT(*)
   		FROM REFUND
   		WHERE STATUS = #{str}
   </select>
   <!-- 전체 회원 수 조회 -->
   <select id="selectMemberListCount" resultType="_int">
   		SELECT COUNT(*)
   		FROM MEMBER
   		WHERE STATUS='Y'
   </select>
   <!-- 전체 회원 정보 조회 -->
   <select id="selectMemberList" resultMap="memberResultSet">
   		SELECT * 
   		FROM MEMBER
   		WHERE STATUS = 'Y'
   		ORDER BY MNO DESC
   </select>
   <!-- 회원 정보 상세보기 -->
   <select id="selectOneMember" parameterType="_int" resultMap="memberResultSet">
   		SELECT *
   		FROM MEMBER
   		WHERE STATUS='Y'
   		AND MNO = #{mno}
   </select>
   <!-- 신고 내역 전체 개수 조회 -->
	<select id="selectReportCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
		WHERE STATUS='N'
	</select>
	<!-- 신고내역 전체 조회 -->
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT * 
		FROM REPORT
		WHERE STATUS='N'
	</select>
	<!-- 신고 내역 조건검색 전체 조회 -->
	<select id="reportStatus" parameterType="String" resultMap="reportResultSet">
		SELECT *
		FROM REPORT
		WHERE STATUS = 'N'
		AND REPORT_TYPE = #{str}
	</select>
	<!-- 신고내역 조건검색 개수 조회 -->
	<select id="selectReportAjaxCount" resultType="_int" parameterType="String">
		SELECT COUNT(*)
		FROM REPORT
		WHERE STATUS = 'N'
		AND REPORT_TYPE = #{str}
	</select>
	<!-- 신고 내역 처리 -->
	<update id="complteReport" parameterType="_int">
		UPDATE REPORT
		SET STATUS = 'Y'
		WHERE REPORT_ID = #{reportId}
	</update>
	<!-- 신고내역 상세보기 -->
	<select id="selectOneReport" parameterType="_int" resultMap="reportResultSet">
		SELECT *
		FROM REPORT
		WHERE STATUS = 'N'
		AND REPORT_ID = #{reportID} 
	</select>
	<!-- 회원 상세보기 - 올린작품이 있나 조회 -->
	<select id="workCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE WORK_STATUS = 'RUN'
		AND USER_ID = #{userId}
	</select>
	<!-- 회원 상세보기 - 올린 일러스트가 있나 조회 -->
	<select id="illustCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM ILLUSTRATION
		WHERE USER_ID = #{userId}
	</select>
	<!-- 회원이 올린 전체 작품 조회 -->
	<select id="selectWorkList" parameterType="String" resultMap="workResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(W.WID = A.WID)
		JOIN MEMBER M ON(W.USER_ID = M.USER_ID)
		WHERE W.USER_ID = #{userId}
		AND A.ATTACHMENT_CATEGORY = 'ma'
		ORDER BY WUPLOAD_DATE DESC
	</select>
	<!-- 회원이 올린 일러스트 전체 조회 -->
	<!-- <select id="selectIllustList" parameterType="String" resultMap="illustResultSet">
		SELECT *
		FROM ILLUSTRATION
		WHERE USER_ID = #{userId}
	</select> -->
	<!-- 회원 강퇴 하기 -->
	<update id="deleteMember" parameterType="String">
		UPDATE MEMBER 
		SET STATUS = 'N'
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 회원 테이블 조건 검색 listCount -->
	<!-- 일반 인지 프리미어 인지 -->
	<select id="selectMemberTypeListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE STATUS = 'Y'
		AND MEMBER_TYPE= #{type}
	</select>
	<!-- 블랙리스트 회원 조회 -->
	<select id="selectBlackMemberCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE STATUS = 'Y'
		AND WCOUNT >= 5
	</select>
	<!-- 탈퇴 회원 조회 -->
	<select id="selectDeleteMember" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE STATUS = 'N'
	</select>
	<!-- 회원 테이블 조건 검색 list -->
	<!-- 일반 인지 프리미어 인지 -->
	<select id="selectMemberTypeList" parameterType="_int" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE STATUS = 'Y'
		AND MEMBER_TYPE = #{type}
	</select>
	<!-- 블랙리스트 회원 조회 -->
	<select id="selectBlackMemberList" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE STATUS = 'Y'
		AND WCOUNT >= 5
	</select>
	<!-- 탈퇴 회원 조회 -->
	<select id="selectDeleteMemberList" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE STATUS = 'N'
	</select>
	<!-- 게시판 수 전체 조회 -->
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y'
	</select>
	<select id="selectBoardList" resultMap="BoardResultSet">
		SELECT * 
		FROM BOARD 
		WHERE STATUS = 'Y'
		ORDER BY B_ID DESC
	</select>
	
	<!-- 게시글 관리 페이지 조건 검색 - 1:1 문의 개수 조회 -->
	<select id="selectOTOBoardTypeListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_CATEGORY = 'OTO'
		AND SUB_CATEGORY LIKE '%'|| #{str} ||'%'
	</select>
	
	<!-- 게시글 관리 페이지 조건 검색 - 공지사항 문의 개수 조회 -->
	<select id="selectNoticeBoardTypeListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_CATEGORY = 'NTC'
		AND SUB_CATEGORY LIKE '%'|| #{str} ||'%'
	</select>
	<!-- 게시글 관리 페이지 조건 검색 - 1:1 문의 -->
	<select id="selectOTOBoardTypeList" parameterType="String" resultMap="BoardResultSet">
		SELECT *
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_CATEGORY = 'OTO'
		AND SUB_CATEGORY LIKE '%'|| #{str} ||'%'
		ORDER BY B_ID DESC
	</select>
	<!-- 게시글 관리 페이지 조건 검색 - 공지사항 -->
	<select id="selectNoticeBoardTypeList" parameterType="String" resultMap="BoardResultSet">
		SELECT *
		FROM BOARD
		WHERE STATUS = 'Y'
		AND BOARD_CATEGORY = 'NTC'
		AND SUB_CATEGORY LIKE '%'|| #{str} ||'%'
		ORDER BY B_ID DESC
	</select>
	
	<!-- 게시글 관리 - 댓글 페이지 댓글 전체 개수 조회 -->
	<select id="selectBoardReplyListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPLY
	</select>
	
	<!-- 게시글 관리 - 댓글 페이지 전체 댓글 조회 -->
	<select id="selectBoardReplyList" resultMap="replyResultSet">
		SELECT R.REPLY_ID, R.REPLY_DATE, R.REPLY_CONTENT, R.RID, R.B_ID, R.USER_ID, W.WORK_TYPE
		FROM REPLY R 
		JOIN WORK_ROUND WR ON(R.RID = WR.RID)
		JOIN WORK W ON (WR.WID = W.WID)
		UNION
		SELECT R.REPLY_ID, R.REPLY_DATE, R.REPLY_CONTENT, R.RID, R.B_ID, R.USER_ID, B.SUB_CATEGORY
		FROM REPLY R
		JOIN BOARD B ON(R.B_ID = B.B_ID)
		ORDER BY REPLY_ID DESC
	</select>
</mapper>
	










