<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="Illustrator">

	<!-- 일러스트 작품 등록 메소드 -->
	<insert id="insertIllustrator" parameterType="Illustrator">
		INSERT INTO ILLUSTRATION
		VALUES (ILLC_SEQ.NEXTVAL, #{illPrice}, #{termDate}, #{changeCount}, #{illTitle}, #{illContent}, 'pri', 0, 0, #{userId}, #{illCategory})
	</insert>

	<!-- 일러스트 등록 메인 메소드 -->
	<insert id="insertIllMainPhoto" parameterType="IllustratorPhoto">
		INSERT INTO ATTACHMENT
		VALUES(ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', 
			'ma', NULL, ILLC_SEQ.CURRVAL, NULL, NULL, #{userId})
	</insert>
	
	<!-- 일러스트 등록 서브 메소드 -->
	<insert id="insertIllPhoto" parameterType="IllustratorPhoto">
		INSERT INTO ATTACHMENT
		VALUES(ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', 
			'sub', NULL, ILLC_SEQ.NEXTVAL, NULL, NULL, #{userId})
	</insert>
	
	<!-- 일러스트 포트폴리오 리스트 카운트 -->
	<select id="selectIllPortfolioListCount">
		SELECT COUNT(*)
		FROM illustration
		WHERE ILL_TYPE = 'pri';
	</select>
	
	<!-- 일러스트 포트폴리오 리스트 조회 -->
	<select id="selectIllPortfolioList">
		SELECT *
		FROM ILLUSTRATION ILL
		JOIN ATTACHMENT A ON(A.ILL_CODE = ILL.ILL_CODE)
		WHERE A.ATTACHMENT_CATEGORY = 'ma'
		AND ILL.ILL_CODE = #{illCode}
		ORDER BY ILL.RECOMMEND_COUNT DESC;
	</select>
</mapper>