<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">
	<!-- 웹소설 -->
	<resultMap type="com.kh.cc.webnovel.model.vo.Webnovel" id="mypageResultSet">
		<id property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
		<result property="wuploadDate" column="WUPLOAD_DATE"/>
		<result property="wTitle" column="WTITLE"/>
		<result property="wIntro" column="WINTRO"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="wCycle" column="WCYCLE"/>
		<result property="gradeType" column="GRADE_TYPE"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="workDate" column="WORK_DATE"/>
		<result property="ageGrade" column="AGE_GRADE"/>
		<result property="genre" column="GENRE"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="fid" column="FID"/>
		<result property="nickname" column="NICKNAME"/>
	</resultMap>
	<!-- 메인 썸네일 -->
	<resultMap type="com.kh.cc.webnovel.model.vo.WebnovelPhoto" id="mypagePhotoResultSet">
		<id property="fid" column="FID"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="aCategory" column="ATTACHMENT_CATEGORY"/>
		<result property="rid" column="RID"/>
		<result property="illCode" column="ILL_CODE"/>
		<result property="spCode" column="SP_CODE"/>
		<result property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	<!-- 웹소설 회차-->
	<resultMap type="com.kh.cc.webnovel.model.vo.WebnovelRound" id="webnovelRoundResultSet">
		<id property="rid" column="RID"/>
		<result property="rTitle" column="RTITLE"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="ruploadDate" column="RUPLOAD_DATE"/>
		<result property="approvalCode" column="APPROVAL_CODE"/>
		<result property="wid" column="WID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="wrComment" column="WR_COMMENT"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>
	
	<resultMap type="com.kh.cc.mypage.model.vo.Author" id="authorResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="AUTHOR_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="intro" column="INTRO"/>
		<result property="wallet" column="WALLET"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="wCount" column="WCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="joinDate" column="JOIN_DATE"/>
		<result property="changeName" column="CHANGE_NAME"/>
		
	</resultMap>
	
	<resultMap type="com.kh.cc.mypage.model.vo.WriterPhoto" id="WPhotoResultSet">
		<id property="fid" column="FID"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="aCategory" column="ATTACHMENT_CATEGORY"/>
		<result property="rid" column="RID"/>
		<result property="illCode" column="ILL_CODE"/>
		<result property="spCode" column="SP_CODE"/>
		<result property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	<resultMap type="com.kh.cc.mypage.model.vo.Coin" id="coinResultSet">
		<id property="coid" column="COIN_CODE"/>
		<result property="mno" column="MNO"/>
		<result property="cCategory" column="COIN_CATEGORY"/>
		<result property="cCount" column="COIN_COUNT"/>
		<result property="rid" column="RID"/>
		<result property="illCode" column="ILL_CODE"/>
		<result property="cDate" column="C_DATE"/>
	</resultMap>
	<resultMap type="com.kh.cc.admin.model.vo.Report" id="reportResultSet">
      <id property="reportId" column="REPORT_ID"/>            
      <result property="reportType" column="REPORT_TYPE"/>   
      <result property="ReportDate" column="REPROT_DATE"/>
      <result property="reportReason" column="REPORT_REASON"/>
      <result property="reportCategory" column="REPORT_T"/>
      <result property="status" column="STATUS"/>
      <result property="userId" column="USER_ID"/>
      <result property="wid" column="WID"/>
      <result property="rid" column="RID"/>
      <result property="commentId" column="COMMENT_ID"/>
      <result property="bid" column="BID"/>
   </resultMap>
	<resultMap id="BoardResultSet" type="com.kh.cc.admin.model.vo.Board">
		<id column="B_ID" property="bId"/>
		<result column="USER_ID" property="userId"/>
		<result column="BOARD_CATEGORY" property="boardCategory"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="BCONTENT" property="bContent"/>
		<result column="BTITLE" property="bTitle"/>
		<result column="STATUS" property="status"/>
		<result column="SUB_CATEGORY" property="subCategory"/>
</resultMap>
<resultMap id="ClosedResultSet" type="com.kh.cc.mypage.model.vo.Closed">
	<id property="closedCode" column="CLOSED_CODE"/>
	<id property="wid" column="WID"/>
	<id property="startDate" column="START_DATE"/>
	<id property="closedDate" column="CLOSED_DATE"/>
	<id property="uploadDate" column="UPLOAD_DATE"/>
	<id property="status" column="CLOSED_REASON"/>
	<id property="closedReason" column="CLOSED_STATUS"/>
	<id property="wTitle" column="WTITLE"/>
	<id property="changeName" column="CHANGE_NAME"/>
</resultMap>
<resultMap id="IllReqResultSet" type="com.kh.cc.illustrator.model.vo.IllReq">
	<id property="reqCode" column="REQUEST_CODE"/>
	<id property="userId" column="USER_ID"/>
	<id property="reqDate" column="REQUEST_DATE"/>
	<id property="illCode" column="ILL_CODE"/>
	<id property="illContent" column="ILL_CONTENT"/>
	<id property="reqStatus" column="ILL_REQ_STATUS"/>
	<id property="totalPrice" column="TOTALPRICE"/>
</resultMap>
	<!-- 작품 등록 메소드 -->
	<insert id="insertWebnovel" parameterType="Webnovel">
		INSERT INTO WORK 
		VALUES (WID_SEQ.NEXTVAL, #{userId}, SYSDATE, #{wTitle}, #{wIntro}, 0, #{wCycle}, 1, 'WN', 'COMPLTE', null, #{ageGrade}, #{genre})
	</insert>
	<!-- 작품 메인 사진 등록 메소드 -->
	<insert id="insertWnPhoto" parameterType="WebnovelPhoto">
		INSERT INTO ATTACHMENT 
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', 'ma', 0, null, null, WID_SEQ.CURRVAL, #{userId}) 
	</insert>
	<!-- 메인썸네일 리스트 카운트 -->
	<select id="selectListCount" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE USER_ID = #{userId}
		AND WORK_TYPE = 'WN'
		AND GRADE_TYPE = 1
	</select>
	<!-- 메인썸네일 리스트 조회 -->
	<select id="selectWnList" parameterType="java.lang.String" resultMap="mypageResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(W.WID = A.WID)
		JOIN MEMBER M ON(W.USER_ID = M.USER_ID)
		WHERE W.USER_ID = #{userId}
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND WORK_TYPE = 'WN'
		ORDER BY WUPLOAD_DATE DESC
	</select>
	<!-- 작품 , 사진 정보-->
	<select id="selectWork" parameterType="_int" resultMap="mypageResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(W.WID = A.WID)
		WHERE A.WID = #{wid}
		AND A.ATTACHMENT_CATEGORY = 'ma' 
	</select>
	<!-- 회차 카운팅 -->
	<select id="countRound" parameterType="int" resultType="_int">
		SELECT COUNT(*)
		FROM WORK_ROUND
		WHERE WID = #{wid}
	</select>
	
	
	<!-- 프로필 왼쪽 사진 바꾸기 -->
	<select id="getChangeName" parameterType="int" resultType="java.lang.String">
		SELECT CHANGE_NAME
		FROM ATTACHMENT
		WHERE WID = #{wid}
		AND ATTACHMENT_CATEGORY = 'ma'
	</select>
	
	
	<!-- 관심작품 목록 (웹툰)-->
	<select id="attentionListWt" parameterType="String" resultMap="mypageResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(W.WID = A.WID)
        JOIN ATTENTION AT ON(W.WID = AT.WID)
		JOIN MEMBER M ON(W.USER_ID = M.USER_ID)
		WHERE AT.USER_ID = #{userId}
		AND W.WORK_TYPE = 'WT'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		ORDER BY WUPLOAD_DATE DESC
	</select>
	<!-- 관심작품 목록 (웹소설)-->
	<select id="attentionListWn" parameterType="String" resultMap="mypageResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(W.WID = A.WID)
        JOIN ATTENTION AT ON(W.WID = AT.WID)
		JOIN MEMBER M ON(W.USER_ID = M.USER_ID)
		WHERE AT.USER_ID = #{userId}
		AND W.WORK_TYPE = 'WN'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		ORDER BY WUPLOAD_DATE DESC
	</select>
	
	<!-- 결제테이블 인서트 -->
		<insert id="payComplete" parameterType="PaymentCC">
			INSERT INTO PAYMENT_CC
			VALUES(PID_SEQ.NEXTVAL, #{pAmount},SYSDATE,#{userId})
		</insert>
	<!-- 결제완료후 코인 업데이트 -->
		<update id="updateCoin" parameterType="PaymentCC">
			UPDATE MEMBER
			SET WALLET = WALLET + #{ pAmount}
			WHERE USER_ID = #{userId}
		</update>
	
	<!-- 관심작가 목록(웹툰) -->
	<select id="attentionArtistWt" parameterType="String" resultMap="authorResultSet">
		SELECT *
		FROM MEMBER M
		JOIN ATTENTION_AUTHOR AT ON(M.USER_ID = AT.USER_ID)
		JOIN ATTACHMENT A ON(AT.AUTHOR_ID = A.USER_ID)
		WHERE AT.USER_ID = #{userId}
		AND A.ATTACHMENT_CATEGORY = 'prf'
		AND AT.AA_TYPE = 'WT'
		ORDER BY AA_ID DESC
	
	</select>
	<!-- 관심작가 목록(웹소설) -->
		<select id="attentionWnArtist" parameterType="String" resultMap="authorResultSet">
		SELECT *
		FROM MEMBER M
		JOIN ATTENTION_AUTHOR AT ON(M.USER_ID = AT.USER_ID)
		JOIN ATTACHMENT A ON(AT.AUTHOR_ID = A.USER_ID)
		WHERE AT.USER_ID = #{userId}
		AND A.ATTACHMENT_CATEGORY = 'prf'
		AND AT.AA_TYPE = 'WN'
		ORDER BY AA_ID DESC
		</select>
	
	<!-- 관심작가 목록(일러스트) -->
		<select id="attentionWlArtist" parameterType="String" resultMap="authorResultSet">
		SELECT *
		FROM MEMBER M
		JOIN ATTENTION_AUTHOR AT ON(M.USER_ID = AT.USER_ID)
		JOIN ATTACHMENT A ON(AT.AUTHOR_ID = A.USER_ID)
		WHERE AT.USER_ID = #{userId}
		AND A.ATTACHMENT_CATEGORY = 'prf'
		AND AT.AA_TYPE = 'WL'
		ORDER BY AA_ID DESC
		</select>
	
	<!-- 작가프로필사진 카운팅 -->
		<select id="countProfilePic" parameterType="String" resultType="_int">
		SELECT COUNT(CHANGE_NAME)
		FROM ATTACHMENT
		WHERE USER_ID = #{userId}
		AND ATTACHMENT_CATEGORY = 'prf'
		</select>
		<!-- 코인환불신청 -->
		<insert id="refundReq">
		INSERT INTO REFUND
		VALUES(RFID_SEQ.NEXTVAL, SYSDATE, null, #{price}, 'N', #{refundReason}, #{userId})
		</insert>
		
		<!-- 서류파일 insert -->
		<insert id="insertDocu">
		INSERT INTO ATTACHMENT 
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', 'docu', 0, null, null, #{wid}, #{userId}) 
		</insert>
		<!-- 유료작품신청 승인대기 insert -->
		<insert id="insertApproval">
		INSERT INTO APPROVAL
		VALUES (APID_SEQ.NEXTVAL, SYSDATE, 'N', (SELECT WORK_TYPE FROM WORK WHERE WID = #{wid}), #{wid}, null, #{wishDate}, null)
		</insert>
		<!-- 작품 스테이터스 변경(승인대기) -->
		<update id="updateWork">
		UPDATE WORK
		SET WORK_STATUS = 'WAIT'
		WHERE WID = #{wid}
		</update>
		<!-- 후원 사진 insert -->   
      	<insert id="insertSupport" parameterType="WebnovelPhoto">
      	INSERT INTO ATTACHMENT 
      	VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', 'rew', 0, null, SPID_SEQ.NEXTVAL, null, #{userId}) 
      	</insert>
	      
  	 	<!-- 후원 content-->
      	<insert id="insertSupportContent" parameterType="Support">
         INSERT INTO SPONSOR_CODE
         VALUES ((SELECT SP_CODE FROM ATTACHMENT WHERE USER_ID = #{userId} AND ATTACHMENT_CATEGORY = 'rew'), #{sprice}, (SELECT FID FROM ATTACHMENT WHERE USER_ID = #{userId} AND ATTACHMENT_CATEGORY = 'rew'), (SELECT FID FROM ATTACHMENT WHERE USER_ID = #{userId} AND ATTACHMENT_CATEGORY = 'prf'), SYSDATE, 'N' ,#{stitle},#{scontent},(SELECT MNO FROM MEMBER WHERE USER_ID = #{userId}))
      	</insert>
      	
      	<!-- 코인 충전 insert -->
      	<insert id="coinCharge" parameterType="PaymentCC">
      		INSERT INTO COIN
      		VALUES(COID_SEQ.NEXTVAL, (SELECT MNO FROM MEMBER WHERE USER_ID = #{userId}), 2, #{pAmount}, null, null, SYSDATE)
      	</insert>
      	<!-- 코인충전리스트 -->
      	<select id="coinChargeList" parameterType="int" resultMap="coinResultSet">
      		SELECT * FROM COIN
      		WHERE MNO = #{mno} AND COIN_CATEGORY = 2
      	</select>
      	<!-- 코인사용 내역리스트 -->
      	<select id="coinUseList" parameterType="int" resultMap="coinResultSet">
      		SELECT * FROM COIN
      		WHERE MNO = #{mno} AND COIN_CATEGORY = 1
      	</select>
      	<!-- 신고내역 -->
      	<select id="showReportPage" parameterType="int" resultMap="reportResultSet">
      		SELECT * FROM REPORT R
      		JOIN REPORT_TYPE T ON(R.REPORT_CATEGORY = T.REPORTT_ID)
      		WHERE USER_ID = (SELECT USER_ID FROM MEMBER WHERE MNO = #{mno})
      	</select>
      	   <!-- 일대일문의 insert -->
         <insert id="insertMtmQue" parameterType="Board">
         INSERT INTO BOARD
         VALUES (BID_SEQ.NEXTVAL, #{userId}, 'OTO', #{bCount}, SYSDATE, null, #{bContent}, #{bTitle}, 'N', #{subCategory} )
         
         
         </insert>
         <!-- 일대일문의 리스트 -->
         <select id="showQue" parameterType="String" resultMap="BoardResultSet">
         SELECT * FROM BOARD
         WHERE USER_ID = #{userId} AND BOARD_CATEGORY = 'OTO'
         ORDER BY UPLOAD_DATE DESC
         
         </select>
         <!-- 휴재신청insert -->
         <insert id="insertClosed" parameterType="Closed">
         INSERT INTO CLOSED
         VALUES (CLOS_SEQ.NEXTVAL, #{wid} , #{startDate} , #{closedDate} , SYSDATE , #{closedReason}, 'N')
         </insert>
      	<!-- 휴재 가져오기 -->
      	<select id="showClosedPage" parameterType="int" resultMap="ClosedResultSet">
      	SELECT *
      	FROM CLOSED C
      	JOIN WORK W ON(W.WID = C.WID)
      	JOIN MEMBER M ON(M.USER_ID = W.USER_ID)
        JOIN ATTACHMENT A ON(W.WID = A.WID)
      	WHERE MNO = #{mno}
      	</select>
      	<!-- 일러스트 의뢰 목록 -->
      	<select id="showReqIllust" parameterType="String" resultMap="IllReqResultSet">
      		SELECT * FROM ILLUSTRATION_REQUEST
      		WHERE ILL_CODE = (SELECT ILL_CODE FROM ILLUSTRATION WHERE USER_ID = #{userId})
      	</select>
      	
</mapper>















