<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="Webtoon">
	<resultMap type="com.kh.cc.webtoon.model.vo.Webtoon" id="webtoonResultSet">
		<id property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
		<result property="wuploadDate" column="WUPLOAD_DATE"/>
		<result property="wTitle" column="WTITLE"/>
		<result property="wIntro" column="WINTRO"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="wCycle" column="WCYCLE"/>
		<result property="gradeType" column="GRADE_TYPE"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="workDate" column="WORK_DATE"/>
		<result property="ageGrade" column="AGE_GRADE"/>
		<result property="genre" column="GENRE"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="fid" column="FID"/>
	</resultMap>
	<!-- 메인 썸네일 -->
	<resultMap type="com.kh.cc.webtoon.model.vo.WebtoonPhoto" id="webtoonPhotoResultSet">
		<id property="fid" column="FID"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="aCategory" column="ATTACHMENT_CATEGORY"/>
		<result property="rid" column="RID"/>
		<result property="illCode" column="ILL_CODE"/>
		<result property="spCode" column="SP_CODE"/>
		<result property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	
	<resultMap type="com.kh.cc.webtoon.model.vo.WebtoonRound" id="webtoonRoundResultSet">
		<id property="rid" column="RID"/>
		<result property="rTitle" column="RTITLE"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="ruploadDate" column="RUPLOAD_DATE"/>
		<result property="approvalCode" column="APPROVAL_CODE"/>
		<result property="wid" column="WID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="wrComment" column="WR_COMMENT"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>

	<!-- 작품등록 메소드 -->
	<insert id="insertWebtoon" parameterType="Webtoon">
		INSERT INTO WORK
		VALUES (WID_SEQ.NEXTVAL, #{userId}, SYSDATE, #{wTitle}, #{wIntro}, 0, #{wCycle},
		 1, 'WT','COMPLTE', null, #{ageGrade}, #{genre})
	</insert>
	
	<!-- 작품메인 썸내일등록 -->
	<insert id="insertWtPhoto" parameterType="Webtoon">
		INSERT INTO ATTACHMENT
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE,
					 'Y', 'ma', 0, null, null, WID_SEQ.CURRVAL, #{userId})
	</insert>

	<select id="selectListCount" parameterType="java.lang.String"
		resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE USER_ID = #{userId}
		AND WORK_TYPE = 'WT'
	</select>

	<select id="selectWtList" parameterType="java.lang.String"
		resultMap="webtoonResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(A.WID = W.WID)
		JOIN MEMBER M ON(M.USER_ID = W.USER_ID)
		WHERE M.USER_ID = #{userId}
		AND W.WORK_TYPE = 'WT'
		AND A.ATTACHMENT_CATEGORY = 'ma'
	</select>
	
	<!-- 회차 썸내일 내용 인서트 -->
	<insert id="insertRound">
		INSERT INTO WORK_ROUND VALUES(WRID_SEQ.NEXTVAL, #{rTitle}, 0, SYSDATE, 0, #{wid}, #{wrComment}, NULL)
	</insert>
	

	<insert id="insertRoundThumbnail">
		INSERT INTO ATTACHMENT
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE,
					 'Y', 'sub', 0, null, null, #{wid}, NULL)
	
	</insert>
	
	<insert id="insertRoundMain">
		INSERT INTO ATTACHMENT
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE,
					 'Y', 'cont', 0, null, null, #{wid}, NULL)
	</insert>

	<select id="selectWrListCount" parameterType="WebtoonRound" resultType="_int">
		SELECT COUNT(*)
		FROM WORK_ROUND
		WHERE WID = #{wid}
	</select>

	<select id="selectWrList" resultMap="webtoonRoundResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK_ROUND W ON(W.WID = A.WID)
		WHERE A.ATTACHMENT_CATEGORY = 'sub'
		AND W.WID = #{wid}
	</select>



</mapper>










