<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="Webtoon">
	<resultMap type="com.kh.cc.webtoon.model.vo.Webtoon" id="webtoonResultSet">
		<id property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
		<result property="wuploadDate" column="WUPLOAD_DATE"/>
		<result property="wTitle" column="WTITLE"/>
		<result property="wIntro" column="WINTRO"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="wCycle" column="WCYCLE"/>
		<result property="gradeType" column="GRADE_TYPE"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="workDate" column="WORK_DATE"/>
		<result property="ageGrade" column="AGE_GRADE"/>
		<result property="genre" column="GENRE"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="fid" column="FID"/>
	</resultMap>
	<!-- 메인 썸네일 -->
	<resultMap type="com.kh.cc.webtoon.model.vo.WebtoonPhoto" id="webtoonPhotoResultSet">
		<id property="fid" column="FID"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="aCategory" column="ATTACHMENT_CATEGORY"/>
		<result property="rid" column="RID"/>
		<result property="illCode" column="ILL_CODE"/>
		<result property="spCode" column="SP_CODE"/>
		<result property="wid" column="WID"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	
	<resultMap type="com.kh.cc.webtoon.model.vo.WebtoonRound" id="webtoonRoundResultSet">
		<id property="rid" column="RID"/>
		<result property="rTitle" column="RTITLE"/>
		<result property="vCount" column="VCOUNT"/>
		<result property="ruploadDate" column="RUPLOAD_DATE"/>
		<result property="approvalCode" column="APPROVAL_CODE"/>
		<result property="wid" column="WID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="wrComment" column="WR_COMMENT"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>

	<!-- 작품등록 메소드 -->
	<insert id="insertWebtoon" parameterType="Webtoon">
		INSERT INTO WORK
		VALUES (WID_SEQ.NEXTVAL, #{userId}, SYSDATE, #{wTitle}, #{wIntro}, 0, #{wCycle},
		 1, 'WT',DEFAULT, null, #{ageGrade}, #{genre})
	</insert>
	
	
	<!-- 작품메인 썸내일등록 -->
	<insert id="insertWtPhoto" parameterType="Webtoon">
		INSERT INTO ATTACHMENT
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE,
					 'Y', 'ma', 0, null, null, WID_SEQ.CURRVAL, #{userId})
	</insert>

	<!-- listcount -->
	<select id="selectListCount" parameterType="java.lang.String"
		resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE USER_ID = #{userId}
		AND WORK_TYPE = 'WT'
	</select>

	<!-- 작품리스트 조회 -->
	<select id="selectWtList" parameterType="java.lang.String"
		resultMap="webtoonResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(A.WID = W.WID)
		JOIN MEMBER M ON(M.USER_ID = W.USER_ID)
		WHERE M.USER_ID = #{userId}
		AND W.WORK_TYPE = 'WT'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		ORDER BY WUPLOAD_DATE DESC
	</select>
	
	<!-- 회차 WORK_ROUND 인서트 -->
	<insert id="insertRound">
		INSERT INTO WORK_ROUND VALUES(WRID_SEQ.NEXTVAL, #{rTitle}, 0, SYSDATE, 1, #{wid}, #{wrComment}, NULL)
	</insert>
	
	<!-- 회차 썸내일 인서트 -->
	<insert id="insertRoundThumbnail" parameterType="WebtoonPhoto">
		INSERT INTO ATTACHMENT
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE,
					 'Y', 'sub', WRID_SEQ.CURRVAL, null, null, #{wid}, #{userId})
	</insert>
	
	<!-- 웹툰 내용 이미지 인서트 -->
	<insert id="insertRoundMain" parameterType="WebtoonPhoto">
		INSERT INTO ATTACHMENT
		VALUES (ATC_SEQ.NEXTVAL, #{originName}, #{changeName}, #{filePath}, SYSDATE,
					 'Y', 'cont', WRID_SEQ.CURRVAL, null, null, #{wid}, #{userId})
	</insert>


	<!-- 회차리스트 카운트 -->
	<select id="selectWrListCount" parameterType="WebtoonRound" resultType="_int">
		SELECT COUNT(*)
		FROM WORK_ROUND
		WHERE WID = #{wid}
	</select>

	<!-- 회차 리스트 조회 -->
	<select id="selectWrList" resultMap="webtoonRoundResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(W.WID = A.WID)
		JOIN WORK_ROUND WR ON(A.RID= WR.RID)
		WHERE A.WID = #{wid}
		AND ATTACHMENT_CATEGORY = 'sub'
		ORDER BY WUPLOAD_DATE DESC
	</select>

	<!-- 작품 메인사진 셀렉트 -->
	<select id="selectMainPhoto" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(W.WID = A.WID)
		WHERE ATTACHMENT_CATEGORY = 'ma'
		AND A.WID = #{wid}
	</select>

	
	<select id="selectWork" resultMap="webtoonResultSet">
		SELECT *
		FROM WORK W
		JOIN ATTACHMENT A ON(W.WID = A.WID)
		WHERE W.WID = #{wid}
		AND A.ATTACHMENT_CATEGORY = 'ma'
	</select>

	<update id="updateWorkWt">
		UPDATE WORK
		SET WTITLE = #{wTitle},
		    WINTRO = #{wIntro},
		    WCYCLE = #{wCycle},
		    GENRE = #{genre}
		WHERE WID = #{wid}
	</update>
	<update id="updateWorkWp" parameterType="WebtoonPhoto">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName},
		    CHANGE_NAME = #{changeName}
		WHERE FID = #{fid}
	</update>

	<select id="selectOneRound" resultMap="webtoonRoundResultSet">
		SELECT *
		FROM WORK_ROUND
		WHERE RID = #{rid}
	</select>

	<select id="selectOneRoundPhoto" resultMap="webtoonPhotoResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE RID = #{rid}
		AND ATTACHMENT_CATEGORY != 'ma'
		ORDER BY ATTACHMENT_CATEGORY DESC
	</select>
	
	<!-- 회차수정 -->
	<update id="updateRoundWr">
		UPDATE WORK_ROUND
		SET RTITLE = #{rTitle},
			WR_COMMENT = #{wrComment}
		WHERE RID = #{rid}
	</update>
	
	<!-- 이미지 수정 메소드 -->
	<update id="updateRoundWp">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName},
		    CHANGE_NAME = #{changeName}
		WHERE FID = #{fid}
	</update>
	
	<!-- content이미지 -->
	<select id="content" parameterType="WebtoonRound" resultMap="webtoonRoundResultSet">
	SELECT *
	FROM ATTACHMENT A
	JOIN WORK_ROUND W ON(A.RID = W.RID)
	WHERE W.RID = #{rid}
	AND ATTACHMENT_CATEGORY = 'cont'
	</select>

	<select id="content1" parameterType="WebtoonRound"
		resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WID = #{wid}
		AND ATTACHMENT_CATEGORY = 'ma'
	</select>
	
	<!-- 장르별 조회 리스트 -->
	<select id="genreList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON (A.WID = W.WID)
		WHERE W.WORK_STATUS = 'RUN'
		AND W.GENRE = #{genre}
		AND A.ATTACHMENT_CATEGORY = 'ma'
	</select>
	<!-- 장르 리스트 카운트 -->
	<select id="genreListCount" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE GENRE = #{genre}
		AND WORK_TYPE = 'WT'
        AND WORK_STATUS = 'RUN'
	</select>
	
	<update id="updateComp">
		UPDATE WORK 
		SET WORK_STATUS = #{workStatus}
		WHERE WID = #{wid}
	</update>
	
	<update id="updateRest">
		UPDATE WORK
		SET WORK_STATUS = 'REST'
		WHERE WID = #{wid}
	</update>


	<select id="completeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE WORK_STATUS = #{workStatus}
	</select>

	<select id="completeList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_STATUS = 'COMP'
		AND ATTACHMENT_CATEGORY = 'ma'
	</select>
	
	
	
	<!-- 요일별 조회 리스트 -->
	<select id="monList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'MON'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>
	<select id="tuesList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'TUES'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>
	<select id="wedList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'WED'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>
	<select id="thurList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'THUR'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>
	<select id="friList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'FRI'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>
	<select id="satList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'SAT'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>
	<select id="sunList" resultMap="webtoonResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WCYCLE = 'SUN'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		AND W.WORK_STATUS != 'COMP'
	</select>

	<select id="newList" resultMap="webtoonResultSet">
		SELECT *
		FROM (SELECT *
		FROM ATTACHMENT A
		JOIN WORK W ON(A.WID = W.WID)
		WHERE W.WORK_TYPE = 'WT'
		AND W.WORK_STATUS = 'RUN'
		AND A.ATTACHMENT_CATEGORY = 'ma'
		ORDER BY W.WUPLOAD_DATE DESC)
		WHERE ROWNUM <![CDATA[ <= ]]> 5
	</select>
	
	
</mapper>










