<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WriterProfile">
	
	<resultMap type="com.kh.cc.mypage.model.vo.WriterProfile" id="WProfileResultSet">
		<id property="wid" column="WID"/>
		<result property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="intro" column="INTRO"/>
		<result property="wallet" column="WALLET"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="wcount" column="WCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="joinDate" column="JOIN_DATE"/>
	</resultMap>

	<update id="updateIntro" parameterType="WriterProfile">
		UPDATE MEMBER
		SET INTRO = #{intro}
		WHERE USER_ID = #{userId}
	</update>


	
	
</mapper>















