<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.kh.cc.member.model.vo.Member" alias="Member"/>
  		<typeAlias type="com.kh.cc.admin.model.vo.Refund" alias="Refund"/>
  		<typeAlias type="com.kh.cc.webnovel.model.vo.Webnovel" alias="Webnovel"/>
  	</typeAliases>
  	<mappers>
  		<mapper resource="mappers/admin-mapper.xml"/>
  		<mapper resource="mappers/member-mapper.xml"/>
  		<mapper resource="mappers/webnovel-mapper.xml"/>
  	</mappers>
  
  </configuration>
  
  
  
  
  
  
  
  
  